<!DOCTYPE html>
<html>
<head>
    <title>Tutor_Module</title>
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

button{
    margin: 0 auto;
}
</style>
</head>
<body>
        <!-- <div id="chartContainer_2" style="height: 370px; width: 100%;"></div>    -->
        <!-- <div id="chartContainer" style="height: 370px; width: 100%;"></div> -->
        <div id="chartContainer_1" style="height: 370px; width: 100%;"></div>
        <br>
        <br>
        <table id='table'>
        </table>
        <br>
        <table id='table_1'>
        </table>


<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>  
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>

<script>
        window.onload = function() {
    const url = 'http://localhost:8000/'


     fetch(`${window.location.origin}/Shortlisting_the_subjects`, 
            {
                method: "GET", 
                // mode: 'cors',
                headers: {
                    'Content-Type': 'application/json',
                
                }
            }
        ).then(function(response) {
            return response.json()
        }).then(function(response) {
            let labels = []; 
        response.shortlist.map((data) => {
            let single_labels = {};
            single_labels.label = data[0];
            single_labels.y = data[1];
            labels.push(single_labels);
             
        }); 
        console.log(labels)
        var options = {
        animationEnabled: true,
        title: {
            text: "Shortlisted Subjects:"
        },
        data: [{
                type: "doughnut",
                innerRadius: "40%",
                // startAngle: 45,
                showInLegend: "true",
                legendText: "{label}",
                indexLabel: "{label} ({y})",
                // yValueFormatString:"#,##0.#"%"",
                dataPoints: labels
        }]
    };
    $("#chartContainer_1").CanvasJSChart(options);


        }).catch((err) => {
            console.log(err)
            })
        

     fetch(`${window.location.origin}/Weightage_per_Subject`, 
            {
                method: "GET", 
                // mode: 'cors',
                headers: {
                    'Content-Type': 'application/json',
                
                }
            }
        ).then(function(response) {
            return response.json()
        }).then(function(response) {
            console.log(response.weightage)
            let row = '<tr><th>Subjects</th><th>Weightage</th></tr>'
            response.weightage.map((data) => {
                row += `<tr><td>${data[0]}</td><td>${data[1]}</td></tr>`
                console.log(row);
            
            })  
                document.getElementById('table').innerHTML = row
                // element.innerHTML(row)

        }).catch((err) => {
            console.log(err);
            }) 

    fetch(`${window.location.origin}/Time_Period_per_Subject`, 
            {
                method: "GET", 
                // mode: 'cors',
                headers: {
                    'Content-Type': 'application/json',
                
                }
            }
        ).then(function(response) {
            return response.json()
        }).then(function(response) {
            console.log(response.Time)
            let row = '<tr><th>Subjects</th><th>Time alloted</th></tr>'
            response.Time.map((data) => {
                row += `<tr><td>${data[0]}</td><td>${data[1]}</td></tr>`
                console.log(row);
            
            })  
                document.getElementById('table_1').innerHTML = row
                // element.innerHTML(row)

        }).catch((err) => {
            console.log(err);
            }) 

    }



</script>>
<form action="/previous_output" method="GET">
    <button type="submit">Previous</button>
</form>
</body>
</html>