
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutor_Module</title>
</head>
<body>
	<h1>Management System for Tutors</h1>
    <br>
    <h2>Please Enter Input Credentials:</h2>
    <form action="/token" method="POST">
        <label>
            Please enter Username:
            <input type="text" name="username" minlength="3" placeholder="Enter Username" required>
        </label>
    <br>
        <label>Please enter Password:
        <input type="password" name="password" placeholder="Enter Password" required></label>
    <br>
        <button type="submit">Submit</button> 
        <button type="reset">Reset</button>

    </form>
    <!-- <script type="text/javascript" src="./main.js"></script> -->
</body>
</html>


