
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutor_Module</title>
</head>
<body>
	<h1>Management System for Tutors</h1>
    <br>
    <h2>Please Enter Input Credentials:</h2>
    <form action="/individual_student_records" method="POST">
        <label>
            Username:
            <input type="text" name="individual_username" minlength="3" placeholder="Enter Full Username" required>
        </label>
    <br>
        <label>Password:
        <input type="password" name="birthdate" placeholder="Enter Password" required></label>
    <br>
        <button type="submit">Submit</button> 
        <button type="reset">Reset</button>
    <table id='table_3'>
        </table>
    
    </form>

    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>  
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>

<script>
        window.onload = function() {
    const url = 'http://localhost:8000/'

    // fetch("http://127.0.0.1:8000/CS_IT_Count").then((Response) => {
    //             return Response.json()
    //         }).then((data) => {
    //             console.log(data);
    //         })

        // concole.log(window.location.origin)



 
         fetch(`${window.location.origin}/individual_student_records`, 
            {
                method: "GET", 
                // mode: 'cors',
                headers: {
                    'Content-Type': 'application/json',
                
                }
            }
        ).then(function(response) {
            return response.json()
        }).then(function(response) {
            console.log("response",response)
            let row = '<tr><th>Sr.no</th><th>Name</th><th>DateofBirth</th><th>Graduation_Stream</th><th>Institute/University</th><th>Post_Graduation</th><th>Institute/University</th><th>Tech_Stack</th></tr>'
            response.details.map((data) => {
                row += `<tr><td>${data[0]}</td><td>${data[1]}</td><td>${data[2]}</td><td>${data[3]}</td><td>${data[4]}</td><td>${data[5]}</td><td>${data[6]}</td><td>${data[7]}</td></tr>`
                console.log(row);
            
            })  
                document.getElementById('table_3').innerHTML = row
                // element.innerHTML(row)

        }).catch((err) => {
            console.log(err);
            }) 


    }



</script>>



    <form action="/selection_page" method="GET">
    <button type="submit">Previous</button>
    </form>
</body>
</html>



