<!DOCTYPE html>
<html>
<head>
    <title>Tutor_Module</title>
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

button{
    margin: 0 auto;
}
</style>
</head>
<body>
        <div id="chartContainer_3" style="height: 370px; width: 100%;"></div>   
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        <!-- <div id="chartContainer_1" style="height: 370px; width: 100%;"></div> -->
        <br>
        <br>
        <table id='table'>
        </table>
        <br>
        <table id='table_1'>
        </table>


<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>  
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>

<script>
        window.onload = function() {
    const url = 'http://localhost:8000/'

    // fetch("http://127.0.0.1:8000/CS_IT_Count").then((Response) => {
    //             return Response.json()
    //         }).then((data) => {
    //             console.log(data);
    //         })

        // concole.log(window.location.origin)



     fetch(`${window.location.origin}/individual_student_records`, 
            {
                method: "GET", 
                // mode: 'cors',
                headers: {
                    'Content-Type': 'application/json',
                
                }
            }
        ).then(function(response) {
            return response.json()
        }).then(function(response) {
            let labels = []; 
        response.subject_count.map((data) => {
            let single_labels = {};
            single_labels.label = data[0];
            single_labels.y = data[1];
            labels.push(single_labels);
             
        }); 
        console.log(labels)
        var options = {
        title: {
            text: "Individual Student Records"
        },
        data: [{
                type: "pie",
                startAngle: 45,
                showInLegend: "true",
                legendText: "{label}",
                indexLabel: "{label} ({y})",
                yValueFormatString:"#,##0.#"%"",
                dataPoints: labels
        }]
    };
    $("#chartContainer").CanvasJSChart(options);


        }).catch((err) => {
            console.log(err)
            })



    }



</script>>
<form action="/individual_entry" method="GET">
    <button type="submit">Previous</button>
</form>
</body>
</html>
