<!DOCTYPE html>
<html>
<head>
    <title>Tutor_Module</title>
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

button{
    margin: 0 auto;
}
</style>
</head>
<body>
        <table id='table_3'>
        </table>
        <br>

<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>  
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>

<script>
        window.onload = function() {
    const url = 'http://localhost:8000/'

    // fetch("http://127.0.0.1:8000/CS_IT_Count").then((Response) => {
    //             return Response.json()
    //         }).then((data) => {
    //             console.log(data);
    //         })

        // concole.log(window.location.origin)



 
         fetch(`${window.location.origin}/individual_student_details`, 
            {
                method: "GET", 
                // mode: 'cors',
                headers: {
                    'Content-Type': 'application/json',
                
                }
            }
        ).then(function(response) {
            console.log(response)
            return response.json()
        }).then(function(response) {
            console.log(response)
            let row = '<tr><th>Fields</th><th>Details</th></tr>'
            response.details.map((data) => {
                row += `<tr><td>${data[0]}</td><td>${data[1]}</td></tr>`
                        
            })  
                document.getElementById('table_3').innerHTML = row
                // element.innerHTML(row)

        }).catch((err) => {
            console.log(err);
            }) 
    
    }


</script>
<form action="/individual_entry" method="GET">
    <button type="submit">Previous</button>
</form>
</body>
</html>
