<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutor_Module</title>
</head>
<body>
	<h1>Input Details</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        <label>
            Please enter the excel file containing Batch Data:
            <input type="file" name="data_file" placeholder="Excel file to be selected" required>
        </label>

    <br>
        <button type="submit">Submit</button> 
        <button type="reset">Reset</button>

    </form>
    <!-- <script type="text/javascript" src="./main.js"></script> -->
</body>
</html>