
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutor_Module</title>
</head>
<body>
	<h1>Input Details</h1>
    <form action="" method="POST">
        <label>
            Please enter your username:
            <input type="text" name="tutor_name" value = "pranay bhatkar" minlength="3" placeholder="Full Name prefered" required>
        </label>
    <br>
        <label>Please enter your password:
        <input type="password" name="password" value="" placeholder="Enter Password" required></label>
    <br>
        <button type="submit">Submit</button> 
        <button type="reset">Reset</button>

    </form>
    <script type="text/javascript" src="./main.js"></script>
</body>
</html>




