
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutor_Module</title>
</head>
<body>
	<h1>Management System for Tutors</h1>
    <br>
    <h2>A Platform representing a basic approach to tutoring in a modernized, student centric way.<br> 
    Main objectives include Syllabus designing based on the count/adaptability of the students enrolled,<br>
    calculating Topic-wise weightage, Time required per topic, displaying individual student records.</h2>
    <br>
    <form action="/output_selection" method="POST">
        <label>
        Please select the desired option:
        <br>
        <input type="radio" name="individual_details" value = "/output_selection"> Individual Student Details <br>  
        <input type="radio" name="batch_details" value = "/output_selection"> Batch Details <br>
        </label>
        <br>
        <button type="submit" onclick="jsubmit();">Submit</button> 
        <button type="reset">Reset</button>

    <script>
                function jsubmit(){
            var radio = document.getElementsByName('op1');
            for(i=0;i<radio.length;i++)
            {
                if(radio[i].checked){
                window.location.href = radio[i].value;
                }
            }
        }
    </script>
  
    </form>
    <form action="/" method="GET">
    <button type="submit">Previous</button>
    </form>
</body>
</html>


