
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutor_Module</title>
</head>
<body>
	<h1>Management System for Tutors</h1>
    <br>
    <h2>A Platform representing a basic approach to tutoring in a modernized, student centric way. Main objectives include Syllabus designing based on the count/adaptability of the students enrolled, calculating Topic weightage, Time required per topic, displaying individual student records.</h2>
    <form action="/output_selection" method="POST">
        <label>
        Please select the desired option:
        <input type="radio" name="individual_details"> Individual Student Details <br>  
        <input type="radio" name="batch_details"> Batch Details <br>
        </label>
        <br>
        <button type="submit">Submit</button> 
        <button type="reset">Reset</button>


    </form>
    <!-- <script type="text/javascript" src="./main.js"></script> -->
</body>
</html>


