<!DOCTYPE html>
<html>
<head>
    <title>Tutor_Module</title>
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
        <div id="chartContainer_2" style="height: 370px; width: 100%;"></div>   
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        <!-- <div id="chartContainer_1" style="height: 370px; width: 100%;"></div> -->
        <br>
        <br>
        <!-- <table id='table'>
        </table> -->
        <br>
        <!-- <table id='table_1'>
        </table> -->


<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>  
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>

<script>
        window.onload = function() {
    const url = 'http://localhost:8000/'

    // fetch("http://127.0.0.1:8000/CS_IT_Count").then((Response) => {
    //             return Response.json()
    //         }).then((data) => {
    //             console.log(data);
    //         })

        // concole.log(window.location.origin)
        fetch(`${window.location.origin}/Count`, 
            {
                method: "GET", 
                // mode: 'cors',
                headers: {
                    'Content-Type': 'application/json',
                
                }
            }
        ).then(function(response) {
            console.log('response received')
            return response.json()
        }).then(function(response) {
            console.log(response)
            let labels = []; 
            let count_categories = ['CS/IT','Non-CS/IT'];
        response.count.map((data,index) => {
            let single_labels = {};
            single_labels.label = count_categories[index];
            single_labels.y = data;
            labels.push(single_labels);
             
        }); 
        console.log('Counts',labels)
        var options = {
        title: {
            text: "Student Count:"
        },
        data: [{
                type: "pie",
                startAngle: 45,
                showInLegend: "true",
                legendText: "{label}",
                indexLabel: "{label} ({y})",
                yValueFormatString:"#,##0.#"%"",
                dataPoints: labels
        }]
    };
    $("#chartContainer_2").CanvasJSChart(options);


        }).catch((err) => {
            console.log(err)
            })


     fetch(`${window.location.origin}/Tech_Stack_Certifications_Known_By_Students`, 
            {
                method: "GET", 
                // mode: 'cors',
                headers: {
                    'Content-Type': 'application/json',
                
                }
            }
        ).then(function(response) {
            return response.json()
        }).then(function(response) {
            let labels = []; 
        response.subject_count.map((data) => {
            let single_labels = {};
            single_labels.label = data[0];
            single_labels.y = data[1];
            labels.push(single_labels);
             
        }); 
        console.log(labels)
        var options = {
        title: {
            text: "Tech-Stack and Number of students:"
        },
        data: [{
                type: "pie",
                startAngle: 45,
                showInLegend: "true",
                legendText: "{label}",
                indexLabel: "{label} ({y})",
                yValueFormatString:"#,##0.#"%"",
                dataPoints: labels
        }]
    };
    $("#chartContainer").CanvasJSChart(options);


        }).catch((err) => {
            console.log(err)
            })


    //  fetch(`${window.location.origin}/Shortlisting_the_subjects`, 
    //         {
    //             method: "GET", 
    //             // mode: 'cors',
    //             headers: {
    //                 'Content-Type': 'application/json',
                
    //             }
    //         }
    //     ).then(function(response) {
    //         return response.json()
    //     }).then(function(response) {
    //         let labels = []; 
    //     response.shortlist.map((data) => {
    //         let single_labels = {};
    //         single_labels.label = data[0];
    //         single_labels.y = data[1];
    //         labels.push(single_labels);
             
    //     }); 
    //     console.log(labels)
    //     var options = {
    //     title: {
    //         text: "Shortlisted Subjects:"
    //     },
    //     data: [{
    //             type: "pie",
    //             startAngle: 45,
    //             showInLegend: "true",
    //             legendText: "{label}",
    //             indexLabel: "{label} ({y})",
    //             yValueFormatString:"#,##0.#"%"",
    //             dataPoints: labels
    //     }]
    // };
    // $("#chartContainer_1").CanvasJSChart(options);


    //     }).catch((err) => {
    //         console.log(err)
    //         })
        

    //  fetch(`${window.location.origin}/Weightage_per_Subject`, 
    //         {
    //             method: "GET", 
    //             // mode: 'cors',
    //             headers: {
    //                 'Content-Type': 'application/json',
                
    //             }
    //         }
    //     ).then(function(response) {
    //         return response.json()
    //     }).then(function(response) {
    //         console.log(response.weightage)
    //         let row = '<tr><th>Subjects</th><th>Weightage</th></tr>'
    //         response.weightage.map((data) => {
    //             row += `<tr><td>${data[0]}</td><td>${data[1]}</td></tr>`
    //             console.log(row);
            
    //         })  
    //             document.getElementById('table').innerHTML = row
    //             // element.innerHTML(row)

    //     }).catch((err) => {
    //         console.log(err);
    //         }) 

    // fetch(`${window.location.origin}/Time_Period_per_Subject`, 
    //         {
    //             method: "GET", 
    //             // mode: 'cors',
    //             headers: {
    //                 'Content-Type': 'application/json',
                
    //             }
    //         }
    //     ).then(function(response) {
    //         return response.json()
    //     }).then(function(response) {
    //         console.log(response.Time)
    //         let row = '<tr><th>Subjects</th><th>Time alloted</th></tr>'
    //         response.Time.map((data) => {
    //             row += `<tr><td>${data[0]}</td><td>${data[1]}</td></tr>`
    //             console.log(row);
            
    //         })  
    //             document.getElementById('table_1').innerHTML = row
    //             // element.innerHTML(row)

    //     }).catch((err) => {
    //         console.log(err);
    //         }) 

    // }

<form action="/welcome_back" method="GET">
    <button type="submit">Next</button> 
</form>
</script>>

</body>
</html>